@page "/account/register"
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

@attribute [Authorize(Policy = ShoppingUserPolicies.IsUserCreator)]

<h1>Register</h1>
@if (ShowErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors)
        {
            <p>@error</p>
        }
    </div>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your details</h5>
        <EditForm EditContext="@editContext" OnSubmit="HandleRegistration">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="name">User name</label>
                <InputText Id="name" class="form-control" @bind-Value="RegisterModel.UserName" />
                <ValidationMessage For="@(()=>RegisterModel.UserName)" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <InputText Id="email" class="form-control" @bind-Value="RegisterModel.Email" />
                <ValidationMessage For="@(()=>RegisterModel.Email)" />
            </div>
            <div class="form-group">
                <label for="firstname">First name</label>
                <InputText Id="firstname" class="form-control" @bind-Value="RegisterModel.FirstName" />
                <ValidationMessage For="@(()=>RegisterModel.FirstName)" />
            </div>
            <div class="form-group">
                <label for="lastname">Last name</label>
                <InputText Id="lastname" class="form-control" @bind-Value="RegisterModel.LastName" />
                <ValidationMessage For="@(()=>RegisterModel.LastName)" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText Id="password" type="password" class="form-control" @bind-Value="RegisterModel.Password" />
                <ValidationMessage For="@(() => RegisterModel.Password)" />
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <InputText Id="password" type="password" class="form-control" @bind-Value="RegisterModel.ConfirmPassword" />
                <ValidationMessage For="@(() => RegisterModel.ConfirmPassword)" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>

@code {
    private EditContext editContext;
    private RegisterModel RegisterModel = new RegisterModel();
    private bool ShowErrors;
    private IEnumerable<string> Errors;

    protected override void OnInitialized()
    {
        editContext = new EditContext(RegisterModel);
    }

    private async Task HandleRegistration()
    {
        ShowErrors = false;
        if (editContext.Validate())
        {

            var result = await AuthService.Register(RegisterModel);
            if (result.Successful)
            {
                NavigationManager.NavigateTo("/account/login");
            }
            else
            {
                Errors = result.Errors;
                ShowErrors = true;
            }
        }
    }
}
