@page "/product/category"

@inject ILogger<Category> Logger
@inject IProductCategories CategoryRepo
@inject IModalService Modal

<h3>Product categories</h3>

@if (IsLoading)
{
    <div class="row">
        <div class="col">
            <CustomSpinner>
                Loading categories...
            </CustomSpinner>
        </div>
    </div>
}
else
{


    <AuthorizeView Context="Auth" Policy="@ShoppingUserPolicies.IsProductCategoryModifier">
        <div class="row">
            <div class="col">
                @if (IsSaving)
                {
                    <CustomSpinner>
                        Saving category...
                    </CustomSpinner>
                }
                else
                {
                    <EditForm EditContext="@editContext" OnSubmit="HandleSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="row">
                            <div class="col">
                                <label>
                                    Name
                                    <InputText class="form-control" @bind-Value="category.Name" />
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>
                                    Color
                                    <input class="form-control" type="color" @bind-value="category.ColorCode" />
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary" type="submit">
                                    <span class="oi oi-task" /> Save
                                </button>
                            </div>
                        </div>
                    </EditForm>
                }
            </div>
        </div>
        <div class="row">
            <div class="col">
                <AlertComponent Model="@AlertData" />
            </div>
        </div>
        <hr />
    </AuthorizeView>
    @if (categories != null)
    {
        <div class="row">
            <div class="col">
                <input type="search" class="form-control"
                       @bind="SearchInput" @bind:event="oninput"
                       placeholder="Search for category..." />
            </div>
            <div class="col">
                <button class="btn btn-light" @onclick="LoadProductCategories">
                    <span class="oi oi-reload" />
                </button>
            </div>
        </div>
        @if (categories.Count > 0)
        {
            <div class="row" style="margin-top:24px">
                <div class="col">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th @onclick="OnTableColumnClicked">
                                    Name
                                    <span class="@SortingData.Icon" />
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in categories)
                            {
                                string borderContent = $"15px solid {category.ColorCode}";
                                <tr>
                                    <td style="border-left: @borderContent">@category.Name</td>
                                    <td>
                                        <AuthorizeView>
                                            <ContextMenu>
                                                <ContextMenuItem OnClickCallback="@(()=> OnEditCategory(category.Id,category.Name,category.ColorCode))">
                                                    Edit
                                                </ContextMenuItem>
                                                <ContextMenuItem OnClickCallback="@(() => OnDeleteCategory(category.Id,category.Name))">
                                                    Delete
                                                </ContextMenuItem>
                                            </ContextMenu>
                                        </AuthorizeView>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <hr />
            <div class="row">
                <div class="col">
                    <strong>No categories found</strong>
                </div>
            </div>
        }
    }

}



@code {

    private AlertComponentModel AlertData;
    private SortingModel SortingData = new SortingModel();

    private bool IsSaving = false;
    private bool IsLoading = false;

    private string searchInput;
    public string SearchInput
    {
        get => searchInput;
        set
        {
            searchInput = value;
            OnSearchInputChanged();
        }
    }

    private List<ProductCategory> localBackup = null;

    private List<ProductCategory> categories = null;
    private ProductCategory category = new ProductCategory() { ColorCode = "#000000" };
    private EditContext editContext;

    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(category);

        IsLoading = true;

        await LoadProductCategories();

        SortTable();

        IsLoading = false;
    }

    private async Task HandleSubmit()
    {
        AlertData = null;
        var isValid = editContext.Validate();
        var categoryAlreadyExists = localBackup.Any(c => c.Name.Equals(category.Name, StringComparison.InvariantCultureIgnoreCase) ||
                                                    c.ColorCode.Equals(category.ColorCode, StringComparison.InvariantCultureIgnoreCase));
        if (isValid)
        {
            if (!categoryAlreadyExists)
            {
                IsSaving = true;
                category.Name = category.Name.Trim();
                var savedEntity = await CategoryRepo.CreateAsync(category);

                if (savedEntity != null)
                {
                    AddOrUpdateEntityInLists(savedEntity);
                    category = new ProductCategory();
                    AlertData = AlertComponentModel.CreateSuccessAlert("Saving successful");
                }
                else
                {
                    SavingFailureAlert();
                }

                SortTable();
                IsSaving = false;
            }
            else
            {
                SavingFailureAlert("Category name or color already exists");
            }
        }
    }

    private void AddOrUpdateEntityInLists(ProductCategory entity)
    {
        localBackup.AddOrUpdate(entity);
        categories.AddOrUpdate(entity);
    }

    private void DeleteEntityInLists(string id)
    {
        localBackup.RemoveIfExists(id);
        categories.RemoveIfExists(id);
    }

    private async Task LoadProductCategories()
    {
        localBackup = null;
        categories = null;

        localBackup = await CategoryRepo.GetAllAsync();
        categories = new List<ProductCategory>(localBackup);

        SearchInput = null;
    }

    private async Task OnDeleteCategory(string id, string name)
    {
        var modalParams = new ModalParameters();
        modalParams.Add(nameof(DeleteCategory.CategoryName), name);
        var deleteCategoryModal = Modal.Show<DeleteCategory>("Delete category", modalParams);
        var result = await deleteCategoryModal.Result;

        if (!result.Cancelled)
        {
            if (!(await CategoryRepo.DeleteByIdAsync(id)))
            {
                DeleteFailureAlert();
            }
            DeleteEntityInLists(id);
        }
    }
    private async Task OnEditCategory(string id, string name, string colorcode)
    {
        var modalParams = new ModalParameters();
        modalParams.Add(nameof(EditCategory.CategoryId), id);
        modalParams.Add(nameof(EditCategory.CategoryName), name);
        modalParams.Add(nameof(EditCategory.CategoryColorCode), colorcode);

        var editModal = Modal.Show<EditCategory>("Edit category", modalParams);
        var result = await editModal.Result;
        if (!result.Cancelled)
        {
            var resultData = (ProductCategory)result.Data;
            if (resultData == null)
            {
                AlertData = AlertComponentModel.CreateErrorAlert($"Could not change category '{name}'");
            }
            else
            {
                AlertData = AlertComponentModel.CreateSuccessAlert($"Successfully changed", $"Name {name} -> {resultData.Name}, Color {colorcode} -> {resultData.ColorCode}");
                AddOrUpdateEntityInLists(resultData);
            }
        }
    }

    private void OnSearchInputChanged()
    {
        categories = new List<ProductCategory>(localBackup);
        if (!string.IsNullOrEmpty(searchInput))
        {
            categories = localBackup
                .Where(e => e.Name.Contains(searchInput, StringComparison.InvariantCultureIgnoreCase))
                .ToList();
        }
    }
    private void OnTableColumnClicked()
    {
        SortingData.Toggle();
        SortTable();
    }
    private void SortTable()
    {
        switch (SortingData.Type)
        {
            case SortingType.Ascending:
                categories = categories.OrderBy(e => e.Name).ToList();
                break;
            case SortingType.Descending:
                categories = categories.OrderByDescending(e => e.Name).ToList();
                break;
        }
    }

    private void SavingFailureAlert(string resultMsg = "")
    {
        AlertData = AlertComponentModel.CreateErrorAlert("Error with saving", resultMsg);
        Logger?.LogError(AlertData.ToString());
    }
    private void DeleteFailureAlert(string resultMsg = "")
    {
        AlertData = AlertComponentModel.CreateErrorAlert("Error with deletion", resultMsg);
    }

}
